<footer>
    <main>
        <div class="logo_footer">

        </div>
        <div class="footer_links"><ul>
            <li><a href="">Shop</a></li>
            <li><a href="">Lookbook</a></li>
            <li><a href="">Legal</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Privacy Policy</a></li>
            <li><a href="">Terms & Conditions</a></li>
        </ul></div>
        <div class="footer_email">
            <label for="footer_email">Subscribe to the newsletter</label>
            <div class="sendEmail_box">
                <input type="text" placeholder="Your Email" name="" id="footer_email"><button><i class="fa-solid fa-arrow-right-long"></i></button>
            </div>
        </div>
        <div class="footer_external_links">
            <h5>Social Media</h5>
            <ul>
                <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href=""><i class="fa-brands fa-youtube"></i></a></li>
                <li><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
            </ul>
        </div>
    </main>
    <section>
        <h5>Created By Luiscar Castro</h5>
    </section>
</footer>