<article *ngIf="currentUser$ | async as user" >
    <main>
        <ul>
            <li class="first-name"><span>First Name:</span>{{user.first_name}}</li>
            <li class="last-name"><span>Last Name:</span>{{user.last_name}}</li>
            <li class="username"><span>Username:</span>{{user.username}}</li>
            <li class="favorite-song"><span>Favorite Song:</span>{{user.favorite_song}}</li>
        </ul>
    </main>
    <button  (mouseleave)="hideOptions()" (click)="display()" class="options-button"><i class="fa-solid fa-ellipsis-vertical"></i>
        <ul *ngIf="optionsActive" class="options-menu">
            <button (click)="edit()"><li>Edit</li></button>
        </ul>
    </button>
</article>
