<main *ngIf="items$ |async as user">
    <section class="order-summary">
        <header>
            <h3>Order Summary</h3>
        </header>
        <ul>
            <app-item-summary-card (renderUpdate)="checkPrice($event)"
            *ngFor="let item of user.shopping_cart; index as x"
            [userInfo]="user.shopping_cart[x]"
            ></app-item-summary-card>
        </ul>
        <section class="priceSummary-order-summary">
            <!-- <div class="shippingPrice-order-summary">Delivery<span>$30</span></div> -->
        </section>
        <h4 class="total-order-summary"><span class="sum-total"><span class="total">Total</span><span class="total_number">${{totalItemsPrice}}</span></span></h4>
    </section>
</main>
