<main>
    <section class="order-summary">
        <header>
            <h3>Order Summary</h3>
        </header>
        <ul>
            <li class="item-order-summary">
                <div>
                    <div class="itemImg-order-summary"></div>
                    <div class="itemInfo-order-summary">
                        <h5>Item name</h5>
                        <span class="itemPrice-order-summary">$30.00<span class="itemQuantity-order-summary">x  01</span></span>
                        
             </div></div></li>
        </ul>
        <section class="priceSummary-order-summary">
            <div class="shippingPrice-order-summary">Delivery<span>$30</span></div>
        </section>
        <h4 class="total-order-summary"><span class="sum-total"><span class="total">Total</span><span class="total_number">$39.99</span></span></h4>
    </section>
</main>
