<section>
    <div class="testimonial_container">
        <div class="testimonial_img"></div>
        <div class="testimonial_text">
            <h4>True Story</h4>
            <p class="testimonial">"We pride ourselves on our unique product
                range - created by our in-house design team
                and global brand partnerships, all of which are
                individuality, design and quality."</p>
             <p class="testimonial_author">Katherina Saranova</p>
    
        </div>
    </div>

</section>