<section class="brand_info">
    <h2>What We Do</h2>
    <p>Brisa is a leading edge fashion footwear specialist, providing style
        conscious customers with innovative shoes to suit every occasion. We
        pride ourselves on our unique product range - created by our in-house
        design team and global brand partnerships, all of which are recognisable by
        their individuality, design and quality.</p>
        <a class="learn_more" routerLink="/blog" routerLinkActive="active" href=""><button>Learn More</button></a>
</section>