<section class="instagram_container">
    <a href="">
        <div class="collection">
            <div id="pic1" class="pics_lg pics"></div>
            <div id="pic2" class="pics_sm pics"></div>
        </div>
        <div class="collection middle_collection">
            <h2>INSTAGRAM</h2>
            <div id="pic3" class="pics_sm pics"></div>      
        </div>
        <div class="collection">
            <div id="pic4" class="pics_lg pics"></div>
            <div id="pic5" class="pics_sm pics"></div>
        </div>
    </a>
</section>