<main *ngIf="currentUser$ |async as user">
    <form (change)="detectChanges()" (ngSubmit)="submitChanges()" [formGroup]="detailsForm" action="">
        <ng-content></ng-content>
        <div class="input-box"><label for="first_name">First Name</label>
            <input
            formControlName="first_name"
             name="first_name" 
             id="first_name" 
             type="text" value="">
             <div *ngIf="firstName.errors || formInvalid" class="error">This field is required!</div>
            </div>
             
        <div class="input-box"><label for="last_name">Last Name</label>
            <input
            formControlName="last_name"
             name="last_name" 
             id="last_name" type="text"
              value="" >
              <div *ngIf="lastName.errors || formInvalid" class="error">This field is required!</div>
            </div>
        <div class="input-box">
            <label for="username">Username</label>
            <input
            formControlName="username"
            name="username"
             id="username" 
             type="text" 
             value=""
             >
             <div *ngIf="username.errors || formInvalid" class="error">This field is required!</div>
            </div>
        <div class="input-box">
            <label for="favorite_song">Favorite Song</label>
            <input 
            formControlName="favorite_song"
            placeholder="Optional..." 
            id="favorite_song" 
            name="favorite_song"
             type="text"
              value="">
            </div>
            <button class="submit-btn">Submit</button>
    </form>
</main>