.main{
    display: flex;
    padding: 2rem 6em;
    gap: 4rem;
    align-items: center;
    justify-content: space-between;
}


.save-order-details{
    background-color: var(--font);
    color: white;
    border-radius: .025rem;
    border: 1px solid var(--font);
}
.save-order-details:hover{
    opacity: .7;
}
.cancel-order-details{
    background-color: transparent;
    border: transparent;
}
.order-summary{
    flex: 1 1;
}
li{
    list-style: none;
}
.order-summary header{
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--font-fadded-hard);
}
.order-summary header h3{
    font-size: 1rem;
    padding: 2rem;
}
.order-summary ul{
    padding: 0;
}
.item-order-summary{
    list-style: none;
    padding: 2rem;
    border-bottom: 1px solid var(--font-fadded-hard);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.item-order-summary{
    list-style: none;
    padding: 2rem;
    border-bottom: 1px solid var(--font-fadded-hard);
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.item-order-summary button i{
    font-size: 1.2rem;
}
.item-order-summary button{
    padding: .1rem;
    background-color: transparent;
    text-align: center;
    height: 2rem;
    border: none;
    transition: all 150ms ease-in;
    cursor: pointer;
}
.item-order-summary button:focus, .item-order-summary button:hover {
    outline: none;
    color: var(--error);
}

.item-order-summary div{
    display: flex;
}
.item-order-summary div{
    gap: 1rem;
}
.itemPrice-order-summary{
    font-weight: bold;
}
.itemQuantity-order-summary{
    font-weight: normal;
    margin: 1ch;
    color: var(--font-fadded);
}
.itemInfo-order-summary {
    flex-direction: column;
}
.itemInfo-order-summary h5{
    font-size: 1.1rem;
    font-weight: bold;
}
.priceSummary-order-summary{
    margin-top:2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--font-fadded-hard);
}

.total-order-summary{
    margin-top: 2rem;
    font-size: 1.4rem;
}
.total-order-summary .sum-total{
    display: flex;
    justify-content: space-between;
}
.item-order-summary .itemImg-order-summary{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* background-image: url(".../../../../../assets/media/pictures/BlogCover.jpg"); */
    height: 5rem;
    width: 5rem;
}
.form-error{
    position: absolute;
}
@media screen and (max-width:900px) {
    .main{
        padding: 1rem;
    }

}
@media screen and (max-width:600px) {
    .main{
        flex-direction: column-reverse;
    }
    .button-details-container{
        display: flex;
         align-items: center;
         justify-content: center;
    }
}