<article *ngIf="!notRemoved">
    <header>Calle 187$ ajjs</header>
    <section>Bogota</section>
    <section>Luiscar jejeje</section>
    <button (mouseleave)="hideOptions()" #options (click)="selectOptions()"><i class="fa-solid fa-ellipsis-vertical">
        <ul  *ngIf="optionsActive" class="options-container">
            <li (click)="editAddress()">Edit</li>
            <li (click)="removeAddress()">Remove</li>
        </ul>
    </i>
</button>
</article>

<div *ngIf="editing"><app-add-address-form></app-add-address-form></div>
