/* You can add global styles to this file, and also import other style files */
:root{
    --main:#C0DBEA;
    --secundary:#FAEFEE;
    --secundary-mono: #e0ada9;
    --font:#161616;
    --font-fadded:rgba(22, 22, 22, .60);
    --font-fadded-hard:rgba(22, 22, 22, .2);
    --positive:#b2ffb2;
    --error:#ff3333;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Yomogi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*:not(h1,h2){
    font-family: 'Montserrat', sans-serif;
}
