<app-navbar></app-navbar>
<main *ngIf="user$ | async as user">
    <aside>
        <section class="profile-user">
        <h3>{{user.username}}</h3>
        </section>
        <section  class="profile-details">
                <ul>
                    <a routerLink="address" href="">
                        <li><i class="fa-solid fa-location-dot"></i>Addresses</li>
                    </a><a routerLink="personal"  href="">
                        <li><i class="fa-solid fa-user"></i>Personal Details</li>
                    </a><a href="">
                        <li><i class="fa-solid fa-question"></i>Surprises</li>
                    </a>
                </ul>
        </section>
     </aside>
     <section class="display">
        <router-outlet></router-outlet>
        </section>
</main>
<app-footer></app-footer>
